#text-challenge {
  background: white;
  height: 100vh;
  padding: 50px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  font-size: 5vw;
  font-weight: bold;
  text-align: center;
}

/*Hide everything except the text-challenge box*/
html body *:not(iframe) {
 display:none;
}
